.body {
    width: 350px;
    border: 1px solid;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 5px 20px;
    background: wheat;
    border-radius: 10px;
  }
  .results {
    width: 90%;
    margin: 20px auto;
    text-align: right;
  }
  #expression, #result {
    background: #607D8B;
    border: 1px solid black;
    border-radius: 4px;
    padding-right: 5px;
  }
  #result {
    height: 50px;
    font-size: 2em;
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  #expression {
    height: 20px;
    border-top: none;
    color: #263238;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    overflow: hidden;
  }
  
  .numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .operations, .clears {
    display: flex;
    flex-direction: column;
  }
  
  .clears * {
    background: orangered;
    color: white;
  }
  
  button {
    border: none;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    margin: 5px;
    text-align: center;
  }
  
  
  .number, .operation, .equals {
    background: #263238;
    color: white;
  }