.sizeul {
    width: 200px;
    margin: 5px;
}
.img {
    width: 200px;
    height: 300px;
    margin: 20px;
}
.main {
    display: flex;
}
.name {
    width: 500px;
}
.info1width {
    width: 500px;
}
.info2width {
    width: 180px;
}
.header {
    background-color: lightblue;
    width: 100%;
}
.content {
    width: 100%;
} 
.logo {
    margin-right: 150px;
}